<!DOCTYPE html>
<html lang="pt-PT">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <title>aoMercado | BackOffice</title>

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="description" content="Mini loja virtual, um projecto do curso completo de Ruby on Rails">
  <meta name="keywords" content="mercado, virtual, online, compras, pagamentos, loja, e-commerce"/>
  <meta name="robots" content="index, follow">
  <meta name="author" content="Nelson Mfinda">
  <meta name="theme-color" content="#FFFFFF">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag    'backoffice', media: 'all', 'data-turbolinks-track': 'reload' %>
  
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'backoffice', 'data-turbolinks-track': 'reload' %>
</head>
<body>

  <%= yield %>

</body>
</html>
